:root { 
    --color-bg-white: #fff;
    --color-bg-gray: #cccdce;
    --accent-color: #363a43;
    --color-dark: #000;
    --color-success: #028837;
    --color-dark-light: #666c7b;
    --color-info: #f7f7f9;
  }