.checkoutContainer {
    display: flex;
    flex-direction: column;
    max-width: 872px;
    margin: 0 auto;
    padding-top: 8px;
  }

  .header {
    padding-bottom: 8px;
  } 
  
  .linkWrapper {
    text-align: end;
  }
  
  .langLink {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--accent-color);
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: 4px;
  }

  .langLink:first-child {
    margin-right: 8px; 
  }

  .langLink.active {
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: #b0b4be;
  }

  .backButton {
  font-weight: 600;
  font-size: 18px;
  line-height: 222%;
  text-align: right;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    gap: 32px;
    position: relative;
  }
  
  .wrapperBack{
    position: absolute;
    width: 16px;
    left: -25px;
    height: 14px;
    top: 12px;
  }
  .formSection {
    max-width: 480px;
    flex: 1;
  }
  
  .summarySection {
    padding: 32px 32px 40px 32px;
    max-width: 420px;
    background-color: var(--color-info);
    height: 100%;
    border-radius: 8px;
  }
  
  .title {
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    margin-top: 16px;
  }
  
  .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
  }
  
  .disclaimer {
    font-size: 12px;
    line-height: 1.5;
    color: #888;
    margin-top: 8px;
    border: 1px solid #e4e6ec;
    border-radius: 8px;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
  }

  .disclaimerStrong{
    font-weight: 600;
  }
  
  .footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: var(--color-dark-light);
    margin-top: 56px;
    padding-bottom: 24px;
  }
  
  .solid {
    font-weight: 600;
  }

  .checkout{
    font-weight: 600;
    font-size: 18px;
    line-height: 222%;
  }